body {
    background-color: #B5F4FF;
}

h1 {
    font-family: Helvetica, sans-serif;
}
header {
    background-color: #007bff;
}
nav {
    background-color: white;
}
a {
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

#contenido {
    padding: 10px;
    h2 {
        font-family: Arial, sans-serif;
        font-size: 25px;
    }
    p {
        font-family: 'Times New Roman', serif;
        font-size: 14px;
    }
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}