.fondo{
    background-color: #6c6c6c;
    padding: 20px;
}
.tarjeta{
    background-color: #ffffff;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1{
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
    background-color: #4a4a4a;
}